*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#0a7386;
    padding:8px 30px;
}

/* Logo section */
.logo-section{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-section img{
    width:45px;
}

.logo-section h1{
    color:white;
    font-style:italic;
    font-size:24px;
    font-weight:300;
}

/* Nav links */
.nav-links{
    display:flex;
    list-style:none;
    gap:50px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:20px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#4db6ff;
}

/* Search container */
.search-container{
    display:flex;
    align-items:center;
    background:white;

    padding:8px 15px;
    border-radius:30px;
    gap:10px;
}

.search-container input{
    border:none;
    outline:none;
    width:250px;
    font-size:15px;
}

.search-container i{
    color:#8b46ff;
    cursor:pointer;
}

.search-btn,
.clear-btn{
    border:none;
    padding:10px 18px;
    border-radius:10px;
    background:#0f8f8f;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.search-btn:hover,
.clear-btn:hover{
    opacity:.8;
}